<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <label for="task">Task</label> <br>
        <input type="text" name="edit_task" id="" value="{{task.task}}"> <br>
        <input type="submit" name="" id="" value="Submit Task">
        <input type="hidden" name="task_id" id="" value="{{task.id}}">
        {% csrf_token %}

    </form>
</body>
</html>
<a href="{% url 'home:index' %}">Go to Task List</a>