<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <label for="task">
            Input your Task:
        </label><br>
        <input type="text" name="task" id="task" required placeholder="input your task"><br>
        <label for="task_description">
            Input your Task Description:
        </label><br>
        <input type="textarea" name="task_description" id="task_description" cols="40" rows="40"><br>
        <input type="submit" value="Submit Task">
        {% csrf_token %}


    </form>
</body>
</html>